body, #root {
  width: 100vw;
  height: 100vh;
}

button {
  width: 80px !important;
  height: 80px !important;
}

.touch-btn {
  width: 40px;
  height: 20px;
  margin-bottom: 7px;
  border: 2px solid black;
  background-color: #ccc;
  position: relative;
}

.touch-btn-item {
  width: 18px;
  height: 16px;
  cursor: pointer;
}

.touch-btn-on {
  background-color: cyan;
  float: right;
}

.touch-btn-off {
  background-color: red;
  float: left;
}


